body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: white;

  background: linear-gradient(-45deg, #1a0b2e, #902ed6, #2d1b4f, #de8ee1);
  background-size: 400% 400%;
  animation: moveGradient 12s ease infinite;
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.game-title{
  margin-bottom:2px;
}
.game-instruction {
  font-size: 18px;
  margin-bottom: 15px;   
  line-height: 1.3;     
}
    .diagram-area {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1100px;
      height: auto;
     margin-top: 4px;  
  margin-bottom: 6px;
      z-index: 2;
    }

    .image-container {
      position: relative;
  width: 100%;
  max-width: 360px;  
  margin: auto; 
    }

.body-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

  .label-wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 3;
}

.game-instruction{
    font-size: 20px;
}

.drop-zone {
  width: 130px;
  height: 42px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px dashed cyan;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: cyan;
  font-weight: bold;
  backdrop-filter: blur(6px);
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

    .drop-zone.filled {
      background: #4caf7a;
      border: 2px solid white;
      color: white;
    }

#pos-1 { top: 8%; left: 120%; }   
#pos-2 { top: 35%; left: -19%; }  
#pos-3 { top: 42%; left: 120%; }  
#pos-4 { top: 54%; left: -19%; }  
#pos-5 { top: 58%; left: 120%; }  
#pos-6 { top: 65%; left: -19%; }  
#pos-7 { top: 69%; left: 120%; }  
#pos-8 { top: 80%; left: 120%; }  

    .parts-bin {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
      padding: 20px;
      width: 90%;
      max-width: 900px;
      background: rgba(255,255,255,0.05);
      border-radius: 20px;
      border: 1px solid rgba(255,255,255,0.1);
       margin-top: 6px;     
      margin-bottom: 30px;
      z-index: 2;
    }

    .draggable {
      padding: 10px 20px;
      background: white;
      color: #1a0b2e;
      border-radius: 50px;
      font-weight: 700;
      cursor: grab;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }

    .corner-lottie {
      position: fixed;
      bottom: 0;
      width: 200px;
      height: 200px;
      z-index: 1;
      pointer-events: none;
      opacity: 0.6;
    }
    .left-lottie { left: 15px; }
    .right-lottie { right: -20px; }
    

@media (max-width: 768px) {

  body {
    align-items: center;
  }

  .diagram-area {
    width: 100%;
    max-width: 100%;
    height: auto;
    justify-content: center;
  }

  .image-holder {
    width: 85%;
    max-width: 300px;
    margin: 0 auto;
  }
}


@media (max-width: 768px) {

  .label-wrapper {
    transform: scale(0.85);
  }
}
  @media (max-width: 768px) {
  .corner-lottie {
    display: none;
  }
}


@media (max-width: 768px) {
  .image-holder {
    width: 260px;
    padding: 10px;
    border-radius: 20px;
  }
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.modal-card {
  background: white;
  color: #2d1b4f;
  width: 90%;
  max-width: 360px;
  border-radius: 25px;
  padding: 25px 20px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.success-lottie {
  width: 140px;
  height: 140px;
  margin: auto;
}

.modal-card h2 {
  margin: 10px 0;
  font-size: 26px;
}

.modal-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.modal-buttons button {
  padding: 10px 22px;
  border: none;
  border-radius: 30px;
  background: #4caf7a;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.modal-buttons button:last-child {
  background: #6a1b9a;
}


@media (max-width: 768px) {

  .game-instruction {
    text-align: center;
    font-size: 16px;
    margin-bottom: 6px;
  }

  .image-container {
    max-width: 260px;
  }

  .image-container {
    overflow: visible;
  }

  .drop-zone {
    width: 90px;
    height: 34px;
    font-size: 14px;
  }

  .drop-zone {
    transform: translate(-50%, -50%);
  }

  .corner-lottie {
    display: none;
  }
}
@media (max-width: 768px) {

  #pos-1,
  #pos-3,
  #pos-5,
  #pos-7,
  #pos-8 {
    transform: translate(-5%, -10%);
  }

  #pos-2,
  #pos-4,
  #pos-6 {
    transform: translate(7%, -10%);
  }
}

.check-btn {
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background: #00e5ff;
  color: #1a0b2e;
  font-weight: 700;
  cursor: pointer;
}
.drop-zone.wrong {
  background: #ff5252;
  border-color: white;
  color: white;
}

.drop-zone.filled {
  background: #4caf7a;
  border-color: white;
  color: white;
}

@media (max-width: 768px) {
  .image-container {
    margin-left: 30px;  
    margin-right: auto;
  }
 
  .diagram-area {
    justify-content: center;
  }
  .parts-bin {
    margin-left: auto;
    margin-right: auto;
  }

  .check-btn {
    display: block;
    margin: 16px auto 0;
  }
}
@media (max-width: 768px) {
  .diagram-area {
    justify-content: center;
  }

  .image-container {
    max-width: 260px;
    margin: 0 auto;
    overflow: visible;
  }

 #pos-1,
  #pos-3,
  #pos-5,
  #pos-7,
  #pos-8 {
    left: 120%;
  }

  #pos-1 { top: 10%; }
  #pos-3 { top: 43%; }
  #pos-5 { top: 55%; }
  #pos-7 { top: 67%; }
  #pos-8 { top: 80%; }

  .drop-zone {
    width: 90px;
    height: 34px;
    font-size: 14px;
  }

  .parts-bin {
    margin: 10px auto;
  }

  .check-btn {
    display: block;
    margin: 16px auto 0;
  }
}
