* {
  box-sizing: border-box;
font-family: 'Fredoka', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  min-height: 100dvh; /* mobile safe */
  overflow: hidden;
   background: linear-gradient(
    180deg,
    #633D95 0%,
    #4C2A7A 50%,
    #3F1F6E 100%
  );
}

#lottie-bg {
  position: fixed;
  inset: 0;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
#lottie-bg svg {
  width: auto;
  height: 100vh;
  max-width: 100vw;
}
.ui-content {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  text-align: center;
  z-index: 2;
}


.ui-content h1 {
  font-size: clamp(6vw, 46px);
  color: #4b2bb3;
  margin-bottom: 18px;
  text-shadow: 2px 2px 0 #ffd166;
}
.ui-content button {
  padding: 15px 50px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  background: linear-gradient(135deg, #ffcc00, #ff9900);
  color: #4b2bb3;
  font-weight: bold;

  box-shadow: 0 10px 0 #e68a00;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ui-content button:hover {
  transform: translateY(4px);
  box-shadow: 0 5px 0 #e68a00;
}

/* ================= MOBILE FIX ================= */

@media (max-width: 768px) {

  body {
    height: 100dvh;
  }

  #lottie-bg svg {
    height: 100%;
    width: auto;
  }

  .ui-content {
    bottom: 8vh;   /* push slightly higher on mobile */
  }

  .ui-content h1 {
    font-size: 28px;
  }

  .ui-content button {
    padding: 14px 40px;
    font-size: 18px;
  }
    #lottie-bg svg {
    height: 115vh;
  }
   #lottie-bg {
    margin-top:0px;
    transform: scale(3.2);   /* zoom animation */
    transform-origin: center center;
  }

}

@supports (-webkit-touch-callout: none) {
   .ui-content {
    bottom: 3vh;   /* push slightly higher on mobile */
  }

}

.top-buttons {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.nav-btn {
  width: 55px;
  height: 55px;
  border-radius: 18px;   /* soft rounded square */
  border: 2px solid rgba(255,255,255,0.2);
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;

  /* Purple glass style */
  background: linear-gradient(
    145deg,
    #5E3A9E,
    #3F1F6E
  );

  color: #ffffff;


  backdrop-filter: blur(6px);
  transition: all 0.2s ease;
}

/* Hover effect */
.nav-btn:hover {
  transform: translateY(4px);
  box-shadow:
    0 3px 8px rgba(0,0,0,0.5),
    inset 0 1px 2px rgba(255,255,255,0.1);
}

.nav-btn:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .nav-btn {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}



