* {
  box-sizing: border-box;
font-family: 'Fredoka', sans-serif;
}

body {
  margin: 0;
  min-height: 100svh;
  overflow: hidden;
    padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
#lottie-bg {
  position: fixed;
  inset: 0;
  z-index: 0;

  transform: translateY(-6%);
}

.ui-content {
  position: relative;
  z-index: 2;

  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 40px;
}


.ui-content h1 {
  font-size: clamp(28px, 6vw, 46px);
  color: #4b2bb3;
  margin-bottom: 18px;
  text-shadow: 2px 2px 0 #ffd166;
}
.ui-content button {
  padding: 18px 50px;
  font-size: 22px;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  background: linear-gradient(135deg, #ffcc00, #ff9900);
  color: #4b2bb3;
  font-weight: bold;

  box-shadow: 0 10px 0 #e68a00;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ui-content button:hover {
  transform: translateY(4px);
  box-shadow: 0 5px 0 #e68a00;
}
@media (max-width: 768px) {

  #lottie-bg {
    transform: scale(3.5);
    transform-origin: center center;
  }


}





