.back-btn {
  position: absolute;
  top: 25px;
  left: 25px;

  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;

  background: linear-gradient(
    180deg,
    #4dabf7,
    #1e90ff
  );

  color: white;
  cursor: pointer;

  transition: all 0.25s ease;
  z-index: 1000;
}

.back-btn:hover {
  transform: scale(1.08);
}

.back-btn:active {
  transform: translateY(3px);
  box-shadow:
    0 3px 0 #1864ab,
    0 8px 15px rgba(0, 0, 0, 0.35);
}
